<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	
	<!-- 인자가 없는 생성자 호출 -->	
	<!-- <bean id="userService" class = "com.di1.UserServiceImpl2"/> -->
	
	
	<!-- 인자가 있는 생성자 호출 -->
	<bean id= "userService" class = "com.di1.UserServiceImpl">
		<constructor-arg value="자바"/>
		<constructor-arg value="010-2222-2222"/>
		<constructor-arg value="22"/>
	</bean>
	
	
	<!-- 생성자에 의한 의존관계 설정 -->
	<bean id = "userBean" class="com.di1.UserBean" init-method="init" destroy-method="destroy">
		<constructor-arg ref="userService"/>
	</bean>
</beans>  
